<!-- 2D导航launch文件 -->

<launch>

  <!-- 载入参数文件 -->
  <rosparam file="/home/yhs/catkin_ws/src/yhs_nav/param/yhs_nav_param.yaml" command="load" />

  <!-- 2D导航需要 odom to base_link -->
  <param name="/yhs_can_control/tfUsed" value="true" />

  <!-- 加载地图节点 -->
  <arg name="map_name" default="demo3" />
  <arg name="map_file" default="$(find yhs_nav)/map/$(arg map_name).yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- 启动底盘驱动 -->
  <include file="$(find yhs_can_control)/launch/yhs_can_control.launch" >
    <arg name="is_load_param" value="false"/>
  </include>

  <!-- 启动IMU节点 -->
  <include file="$(find serial_imu)/launch/imu_msg.launch" />

  <!-- 启动激光节点 -->
  <!-- <include file="$(find rslidar_sdk)/launch/start.launch" /> -->
  <include file="$(find timoo_pointcloud)/launch/TM16.launch" />
  <!-- <include file="$(find lslidar_cx_driver)/launch/lslidar_cx.launch" /> -->

  <!-- 启动相机节点 -->
  <include file="$(find ascamera_listener)/launch/hp60c_multiple.launch" />

  <!-- 启动速度平滑节点 -->
  <include file="$(find yocs_velocity_smoother)/launch/standalone.launch" />

  <!-- 启动定位节点 -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="initial_pose_x" value="0" />
    <param name="initial_pose_y" value="0" />
    <param name="initial_pose_a" value="0" />
  </node>

  <!-- 启动导航节点 -->
  <node pkg="move_base" type="move_base" name="move_base" respawn="true" output="screen"
    clear_params="true" />

</launch>
