<?xml version="1.0"?>

<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/lslidar_point_cloud"/>
        <remap from="scan" to="scan"/>
        <rosparam>
            target_frame: laser_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.001
            min_height: -0.3 #
            max_height: 1.5

            angle_min: -3.14 
            angle_max: 3.14  
            angle_increment: 0.007
            scan_time: 0.02
            range_min: 0.5
            range_max: 50
            use_inf: true
            inf_epsilon: 1.0

            concurrency_level: 1
            cut_dist: 0.5
        </rosparam>

    </node>

</launch>
