<?xml version="1.0"?>

<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/timoo_points"/>
        <remap from="scan" to="scan"/>
        <rosparam>
            target_frame: laser_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.001
            min_height: -0.2 #-0.6
            max_height: 1.5

            angle_min: -2.15 #-1.87 #-3.1415926 # -M_PI
            angle_max: 2.15 #1.87  #3.1415926 # M_PI
            angle_increment: 0.00314 # 0.17degree
            scan_time: 0.02
            range_min: 0.25 #15
            range_max: 50
            use_inf: true
            inf_epsilon: 1.0

            concurrency_level: 1

            cut_dist: 0.5
        </rosparam>

    </node>

</launch>
