<launch>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name="config_path" value=""/>
  </node>

  
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_link_to_base_link" args="0.14 0 0.55 0 0 0 base_link laser_link" />
  
  <include file="$(find rslidar_sdk)/launch/pointcloud_to_laserscan.launch"/>

</launch>
